@{
    ViewData["Title"] = "Quadrants";
}

@*@model List<Tasks>*@

<h1>Austin's Branch</h1>

<div class="container">
    <div class="row">
        <div class="col">

        </div>
        <div class="col">
            <h3>Urgent</h3>
        </div>
        <div class="col">
            <h3>Not Urgent</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Important</h3>
        </div>
        <div class="col">
            <h3>Q1</h3>
            <table class="table table-bordered table-striped">

                <thead class="font-weight-bold">
                    <tr>
                        <td>Task</td>
                        <td>Due Date</td>
                        <td>Category</td>
                    </tr>
                </thead>

                @*<tbody>
                @foreach (var x in Model)
                {
                    <tr>
                        <td>@x.Category.CategoryName</td>
                        <td>@x.Title</td>
                        <td>@x.Year</td>
                        <td>@x.Director</td>
                        <td>@x.Rating</td>

                        <td><a asp-controller="Home" asp-action="Edit" asp-route-movieID="@x.MovieID">Edit</a></td>
                        <td><a asp-controller="Home" asp-action="Delete" asp-route-movieID="@x.MovieID">Delete</a></td>
                    </tr>
                }
            </tbody>*@

            </table>
        </div>
        <div class="col">
            <h3>Q2</h3>
            <table class="table table-bordered table-striped">

                <thead class="font-weight-bold">
                    <tr>
                        <td>Task</td>
                        <td>Due Date</td>
                        <td>Category</td>
                    </tr>
                </thead>

                @*<tbody>
                @foreach (var x in Model)
                {
                    <tr>
                        <td>@x.Category.CategoryName</td>
                        <td>@x.Title</td>
                        <td>@x.Year</td>
                        <td>@x.Director</td>
                        <td>@x.Rating</td>

                        <td><a asp-controller="Home" asp-action="Edit" asp-route-movieID="@x.MovieID">Edit</a></td>
                        <td><a asp-controller="Home" asp-action="Delete" asp-route-movieID="@x.MovieID">Delete</a></td>
                    </tr>
                }
            </tbody>*@

            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Not Important</h3>
        </div>
        <div class="col">
            <h3>Q3</h3>
            <table class="table table-bordered table-striped">

                <thead class="font-weight-bold">
                    <tr>
                        <td>Task</td>
                        <td>Due Date</td>
                        <td>Category</td>
                    </tr>
                </thead>

                @*<tbody>
                @foreach (var x in Model)
                {
                    <tr>
                        <td>@x.Category.CategoryName</td>
                        <td>@x.Title</td>
                        <td>@x.Year</td>
                        <td>@x.Director</td>
                        <td>@x.Rating</td>

                        <td><a asp-controller="Home" asp-action="Edit" asp-route-movieID="@x.MovieID">Edit</a></td>
                        <td><a asp-controller="Home" asp-action="Delete" asp-route-movieID="@x.MovieID">Delete</a></td>
                    </tr>
                }
            </tbody>*@

            </table>
        </div>
        <div class="col">
            <h3>Q4</h3>
            <table class="table table-bordered table-striped">

                <thead class="font-weight-bold">
                    <tr>
                        <td>Task</td>
                        <td>Due Date</td>
                        <td>Category</td>
                    </tr>
                </thead>

                @*<tbody>
                @foreach (var x in Model)
                {
                    <tr>
                        <td>@x.Category.CategoryName</td>
                        <td>@x.Title</td>
                        <td>@x.Year</td>
                        <td>@x.Director</td>
                        <td>@x.Rating</td>

                        <td><a asp-controller="Home" asp-action="Edit" asp-route-movieID="@x.MovieID">Edit</a></td>
                        <td><a asp-controller="Home" asp-action="Delete" asp-route-movieID="@x.MovieID">Delete</a></td>
                    </tr>
                }
            </tbody>*@

            </table>
        </div>
    </div>
</div>

@*<div class="quadrant" id="quad1">
    <h2>Important / Urgent (Q1)</h2>
    
</div>
<div class="quadrant" id="quad2">
    <h2>Quadrant 2</h2>
    
</div>
<div class="quadrant" id="quad3">
    <h2>Quadrant 3</h2>
    
</div>
<div class="quadrant" id="quad4">
    <h2>Quadrant 4</h2>
    
</div>*@