@{
    ViewData["Title"] = "Quadrants";
}

<h1>YOU ROCK</h1>

<table class="table table-bordered table-striped">

    <thead class="font-weight-bold">
        <tr>
            <td>Task</td>
            <td>Due Date</td>
            <td>Quadrant</td>
            <td>Category</td>
            <td>Completed?</td>
        </tr>
    </thead>

    @*<tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.Category.CategoryName</td>
                <td>@x.Title</td>
                <td>@x.Year</td>
                <td>@x.Director</td>
                <td>@x.Rating</td>

                <td><a asp-controller="Home" asp-action="Edit" asp-route-movieID="@x.MovieID">Edit</a></td>
                <td><a asp-controller="Home" asp-action="Delete" asp-route-movieID="@x.MovieID">Delete</a></td>
            </tr>
        }
    </tbody>*@

</table>